@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crete+Round&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

/* base styles */

/* Default styles for all screens */

/* Default styles for all screen sizes */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('path/to/Lato-Regular.ttf') format('truetype');
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-style: lato;
  height: 57px;
  top: 30px;
  border-radius: 0;
  padding: 0 108px 0 25px;
}

.navbar-logo {
  display: flex;
  align-items: center;
}

.navbar-logo img {
  width: 50px;
  margin-right: 10px;
}

.navbar-logo h1 {
  font-size: 24px;
  margin: 0;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  color: #868686;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  color: #ff8c00;
}

nav ul div.campaign-name {
  font-family: 'Lato', sans-serif;
  border-style: solid;
  border-radius: 10%;
  border-color: #ec4327;
  margin: 0 0 0 33px; 
  color: #ec4327;
  font-size: 14px;
  font-weight: 800;
  line-height: 17px;
  letter-spacing: 0;
  text-align: left;
}

/* Media query for small screens */
@media (max-width: 767px) {
  header {
    visibility: hidden;
  }

  nav {
    padding: 0 158px;
    margin-top: -19px;
  }

  .navbar-logo {
    justify-content: center;
  }

  nav ul {
    display: none;
    position: absolute;
    top: 57px;
    left: 0;
    width: 100%;
    background-color: #fff;
    text-align: center;
    z-index: 1;
  }

  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    cursor: pointer;
    margin-left: -136px;
    margin-right: 136px;
  }

  .btn-line {
    width: 24px;
    height: 2px;
    background-color: #333;
    transition: all 0.3s ease;
  }

  /* Rotate the first and the last line when the button is clicked */
  .menu-btn.active .btn-line:first-child {
    transform: rotate(45deg) translate(10px, 11px);
  }

  .menu-btn.active .btn-line:last-child {
    transform: rotate(-45deg) translate(5px, -5px);
  }

  /* Hide the middle line when the button is clicked */
  .menu-btn.active .btn-line:nth-child(2) {
    opacity: 0;
  }
}

/* Media query for large screens */
@media (min-width: 768px) {
  nav ul {
    display: flex;
  }

  .hamburger {
    display: none;
  }
}
