header {
    display: flex;
    justify-content: right;
    align-items: right;
    background-color:#3E3E3E;
    color: #fff;
    padding: 10px;
    align-content: flex-end;
    font-style: lato;
    font-size: smaller;
    border-radius: 0px;
    padding: 0px 190px 0px 0px;
   
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-content: flex-end;
  }
  
  header ul li {
    margin-left: 20px;
  }
  
  header ul li:first-child {
    margin-left: 0;
  }
  
  header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    
  }
  
  header ul li a:hover {
    color: #ff8c00;
  }
  