header {
  display: flex;
  justify-content: right;
  align-items: right;
  background-color: #3e3e3e;
  color: #fff;
  align-content: flex-end;
  font-style: lato;
  font-size: smaller;
  border-radius: 0;
  padding: 0 190px 0 0;
}

header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-content: flex-end;
}

header ul li {
  margin-left: 20px;
}

header ul li:first-child {
  margin-left: 0;
}

header ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

header ul li a:hover {
  color: #ff8c00;
}
